<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Wilson Hobbs | Home Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/stylesheets/main.css">
</head>

<body>
    <section class="cover">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
            <img src="/images/person.jpg"
                 alt="">
            <h1>Wilson Hobbs</h1>
            <h3>I'm a Developer and Musician.</h3>
            <p>Hey there, lil' buddy, it looks like you found my page! This is just a little project so you can see some of
                the stuff I am capable of creating.</p>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
            <h1>About Me</h1>
            <h3>It all began in 2000.</h3>
            <p>I was born in 2000 to an American father and a Russian mother. I have lived in the same home for all my life,
                near Smyrna and Vinings. I am a senior at The Lovett School, a school which I credit with my programming
                abilities.
            </p>
            <p>I am also an alumnus of The Outdoor Academy, a semester school based in Brevard, NC. My experiences there are
                primarily responsible for shaping the man I am today.</p>
        </div>
    </section>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Contact Me</h1>
                    <h3>So, obviously, I'm a pretty cool guy. Wanna reach out?</h3>
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="email"
                                   class="form-control"
                                   placeholder="Nikolas">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="hello@codeday.org">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea placeholder="Say what you wanna say..."
                                      class="form-control"></textarea>
                        </div>
                        <button type="submit"
                                class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
