section {
    height: 60%;
    padding-top: 20%;
    padding-bottom: 20%;
}

section.cover {
    text-align: center;
}

section.cover img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

section.about {
    background-color: #eeeeee;
}

section.contact {
    background-color: #ddd;
}
